a,
a:focus,
a:hover{color:#fff;}
.btn-default,
.btn-default:hover,
.btn-default:focus{color:#333;text-shadow:none;background-color:#fff;border:1px solid #fff;}
html,
body{
  background: #FFFFFF;
  height: 100%;  
  }   
body{color:#fff;text-align:center;text-shadow:0 1px 3px rgba(0,0,0,.5);box-shadow:0;}
.site-wrapper{display:table;width:100%;height:100%;min-height:100%;}
.site-wrapper-inner{display:table-cell;vertical-align:top;}
.cover-container{margin-left:auto;margin-right:auto;}
.inner{padding:30px;}
.masthead-brand{margin-top:10px;margin-bottom:10px;}
.masthead-nav > li{display:inline-block;}
.masthead-nav > li + li{margin-left:20px;}
.masthead-nav > li > a{padding-left:0;padding-right:0;font-size:16px;font-weight:bold;color:#fff;color:rgba(255,255,255,.75);border-bottom:2px solid transparent;}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus{background-color:transparent;border-bottom-color:rgba(255,255,255,.25);}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus{color:#fff;border-bottom-color:#fff;}
@media (min-width:768px){.masthead-brand{float:left;}
.masthead-nav{float:right;}
}
.cover{padding:0 20px;}
.cover .btn-lg{padding:10px 20px;font-weight:bold;}
.mastfoot{color:#999;color:rgba(255,255,255,.5);}
@media (min-width:768px){.masthead{position:fixed;top:0;}
.mastfoot{position:relative;bottom:0;}
.site-wrapper-inner{vertical-align:middle;}
.masthead,
.mastfoot,
.cover-container{width:100%;}
}
@media (min-width:992px){.masthead,
.mastfoot,
.cover-container{width:700px;}
}
.Profile {
    margin: 0px 0.75em 0.5em 0px;
    padding: 2px;
    background: none repeat scroll 0% 0% #eee;
    border: 1px solid #EEE;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);	
}
.footer_github {
  background-attachment: scroll !important;
  background-clip: border-box !important;
  background-color: rgba(0, 0, 0, 0);
  background-position: 0 0 !important;
  background-repeat: repeat !important;
  background-size: auto auto !important;
  border: medium none !important;
  height: 20px;
  opacity: 0.8;
  position: relative; 
}
.thumbnail {
  margin-left: auto !important;
  margin-right: auto !important;
  padding: 0 !important;
  opacity: 0.9 !important;
}
#widget-div {
  max-width: 280px !important;
  padding-top: 5px !important;
  width: 280px !important;
}
.mastfoot {
  bottom: 2px;
  position: fixed;
}
#mbg1 { background: hsl(0, 50%, 50%); }
#mbg2 { background: hsl(30, 50%, 50%); }
#mbg3 { background: hsl(60, 50%, 50%); }
#mbg4 { background: hsl(90, 50%, 50%); }
#mbg5 { background: hsl(120, 50%, 50%); }
#mbg6 { background: hsl(150, 50%, 50%); }
#mbg7 { background: hsl(180, 50%, 50%); }
#mbg8 { background: hsl(210, 50%, 50%); }
#mbg9 { background: hsl(240, 50%, 50%); }
#mbg10 { background: hsl(270, 50%, 50%); }